body {
	margin:auto;
	min-width:700px;
        max-width:1300px;
	background-color: #ccccff;
	text-align: center;
	margin-top: 50px;
	width: 91%;
}
#canvascontainer{
	width: 900px;
	border: 2px solid;
    	border-radius: 6px;
    	padding: 15px 0;
    	float: left;
    	display: inline-block;
}
#canvascontainer p {
	font-size: 35px;
	font-family: 'Allerta Stencil', sans-serif;
	white-space: pre-line;
}
#imageAndTextForMeme{
	background-color: #ffffff;
}
.widget{
	display: inline-block;
	width: 290px;
	float: left;
	min-height: 190px;
}
#uploadImage {
	margin-top: 30px;
}
#fileInput{
	cursor: pointer;
	border: 1px solid #9999ff;
	border-radius: 5px;
	box-shadow: 4px 4px 4px #888888;
	padding: 3px;
}
.text{
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 22px;
}
label{
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 18px;
	width: 220px;
	padding: 3px;
	display: inline-block;
}
.textForInput{
	font-family: 'Allerta Stencil', sans-serif;
	width: 220px;
	height: 25px;
	padding: 3px;
	margin-top: 0px;
	box-shadow: 5px 5px 5px #888888;
	border: 1px solid #9999ff;
	border-radius: 5px;
	display: inline-block;
}
#movebutton{
	margin-top: 40px;
}
#savebutton{
	text-decoration: none; 
	background-color:#9999ff;
 	border:1px solid #660000;
 	border-radius:5px;
 	padding:12px;
 	padding-left: 30px;
 	padding-right:30px;
 	font-size: 18px;
 	cursor: pointer;
 	font-family: 'Allerta Stencil', sans-serif;
 	box-shadow: 4px 4px 4px #888888;
 	transition: all 0.5s;
}
#savebutton:hover {
	background-color:#4d4dff;
	color:#ffffff;
}
.btncricle{
	cursor: pointer;
	display: inline-block;
}
.btntext{
	font-family: 'Allerta Stencil', sans-serif;
}
